	/** {
		border: 1px solid red;
	}*/
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.container {
		margin: auto;
		padding: 50px;
		max-width: 960px; /* 960px is recommended to be a max-width, If the view port is large just centre this in the middle of the page, would look good */
	}
	
	.header {
		display: flex;	
		justify-content: space-between;
		width: 100%;
		border-bottom: solid #7d97ad;
	}

	#logo img {
		display: flex;
		height: 65px;
		width: auto;
	}

	.title {
		padding-bottom: 12px;
		text-align: right;
	}

	.sub-title { 
		font-family: 'Sue Ellen Francisco', cursive;
		margin-top: -15px;
	}

	h2 {
		font-family: 'Sue Ellen Francisco', cursive;
		margin-bottom: 0px;
		font-weight: lighter;
		font-size: 28px;
	}

	.centre-picture img {
		margin-top: 20px;
		width: 100%;	
	}

	h4 {
	 	font-size: 25px;
		color: #7d97ad; 
		margin-left: 10px;
		
	}

	.featured-work {
		height: 22px;
	}

	.project-work {}
	.project-info {
		display: flex;
	}

	.appify img{
		max-width: 267px;
		width: 100%;
		height: 150px;
		margin: 10px;
	}

	.sunflower img {
		max-width: 267px;
		width: 100%;
		height: 150px;
		margin: 10px;
	}

	.bokeh img{
		max-width: 267px;
		width: 100%;
		height: 150px;
		margin: 10px;
	}

	h1 {
		text-align: center;
		margin-top: 0px;
		font-weight: lighter;
	}

	p{
		text-align: center;
		margin-top: -10px;
	}